{% extends 'air/base.html' %}

{% block content %}
{% if posts.count > 0 %}
{% for p in posts %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-10 fw-bold">{{p.advice.pollutant}}</h1>
        <h5 class="display-10">{{p.datetime|date:"d-m-Y H:i:s"}}</h5>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">{{p.advice|linebreaks}}</p>
        </div>
    </div>
{% endfor %}
{% else %}
<h1 class="text-center">Дані відсутні</h1><br>
{% endif %}
{% endblock %}